<h3>Lista de Tipo de pagamento</h3>
<div class="ui-fluid">
    <label for="pesquisa">Pesquisa</label>
    <input id="pesquisa" type="text" pInputText [(ngModel)]="contentRequest.content" (keyup.enter)="pesquisar()" />
    <p-table [value]="entidades" [responsive]="true" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="totalRegistro">
        <ng-template pTemplate="header">
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipoPagamento>
            <tr>
                <td>{{ tipoPagamento.codigo }}</td>
                <td>{{ tipoPagamento.nome }}</td>
                <td>
                    <p-button label="Alterar" styleClass="ui-button-primary" (click)="alterar(tipoPagamento.codigo)"></p-button>

                    <p-button label="Excluir" styleClass="ui-button-danger" (click)="excluir(tipoPagamento.codigo)">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<a [routerLink]="['/tipo-de-pagamento/novo']">Novo Registro</a>
<p-confirmDialog header="confirmacao"></p-confirmDialog>
<p-toast></p-toast>