<p-card header="Cadastro de Forma de pagamento">
    <form #formulario="ngForm" (ngSubmit)="salvar()">
        <div class="ui-fluid">
            <div class="ui-g">
                <input type="number" id="codigo" name="codigo" pInputText [(ngModel)]="entidade.codigo" #codigo="ngModel" placeholder="codigo" hidden />
                <div class="ui-md-12 ui-sm-12">
                    <label for="tipoPagamento">Tipo de Pagamento: </label>
                    <p-dropdown [options]="tipoDePagamentos" id="tipoPagamento" [(ngModel)]="entidade.tipoPagamento" name="tipoPagamento" #tipoPagamento="ngModel" optionLabel="nome" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="ui-md-6 ui-sm-12">
                    <label for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome" pInputText [(ngModel)]="entidade.nome" #nome="ngModel" placeholder="nome" required />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-md-3 ui-sm-12">
                    <button type="submit" pButton label="Salvar" [disabled]="formulario.invalid" style="margin-right: .25em"></button>
                </div>
                <div class="ui-md-3 ui-sm-12">
                    <a [routerLink]="['/forma-de-pagamento']">Voltar</a>
                </div>
            </div>
        </div>
    </form>
</p-card>
<p-toast></p-toast>